{{- if .Values.ingress.enabled -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "service.fullname" . }}
  labels:
    {{- include "service.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  ingressClassName: {{ .Values.ingress.className }}

  {{- if .Values.ingress.hostname }}
  tls:
    - secretName: {{ printf "%s-tls" (include "service.fullname" .) }}
      hosts:
        - {{ .Values.ingress.hostname | quote }}

  rules:
    - host: {{ .Values.ingress.hostname | quote }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ include "service.fullname" . }}
                port:
                  number: {{ .Values.service.port }}
  {{- end }}
{{- end }}
