{{- if or .Values.secretEnv.pairs }}
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ include "service.fullname" . }}-secret-env
  labels:
    {{- include "service.labels" . | nindent 4 }}
  annotations:
    argocd.argoproj.io/sync-wave: "-2"
spec:
  refreshInterval: "10s"
  secretStoreRef:
    kind: ClusterSecretStore
    name: external-secrets-gcp-store
  target:
    creationPolicy: Owner
    {{- if .Values.secretEnv.templatePairs }}
    template:
      mergePolicy: Merge
      type: Opaque
      data:
        {{- range $secretKey, $templateString := .Values.secretEnv.templatePairs }}
        {{ $secretKey }}: {{ $templateString }}
        {{- end }}
    {{- end }}
  data:
  {{- range $secretKey, $remoteKey := .Values.secretEnv.pairs }}
    - remoteRef:
        key: {{ $remoteKey }}
      secretKey: {{ $secretKey }}
  {{- end }}
{{- end }}
