{{- if .Values.gcp.database.enabled }}
apiVersion: secretmanager.cnrm.cloud.google.com/v1beta1
kind: SecretManagerSecret
metadata:
  name: {{ include "service.fullname" . }}-postgres-password
  labels:
    {{- include "service.labels" . | nindent 4 }}
  annotations:
    argocd.argoproj.io/sync-wave: "-11"
    cnrm.cloud.google.com/project-id: {{ .Values.gcp.projectId }}
spec:
  replication:
    userManaged:
      replicas:
        - location: europe-west4
---
apiVersion: iam.cnrm.cloud.google.com/v1beta1
kind: IAMPolicyMember
metadata:
  name: {{ include "service.fullname" . }}-secret
  labels:
    {{- include "service.labels" . | nindent 4 }}
  annotations:
    argocd.argoproj.io/sync-wave: "-10"
    cnrm.cloud.google.com/project-id: {{ .Values.gcp.projectId }}
spec:
  memberFrom:
    serviceAccountRef:
      name: {{ include "service.fullname" . }}-sa
  resourceRef:
    kind: SecretManagerSecret
    name: {{ include "service.fullname" . }}-postgres-password
  role: roles/secretmanager.admin
---
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "service.fullname" . }}-init-gsm-secret
  labels:
    {{- include "service.labels" . | nindent 4 }}
  annotations:
    argocd.argoproj.io/sync-wave: "-9"
spec:
  backoffLimit: 0
  template:
    spec:
      restartPolicy: Never
      serviceAccountName: {{ include "service.fullname" . }}-sa
      containers:
        - name: gcloud-secret
          image: google/cloud-sdk:latest
          command:
            - /bin/sh
            - -c
          args:
            - |
              echo "Creating initial password in Secret Manager..."
              SECRET_VALUE=$(openssl rand -base64 32 | tr -d '\n')
              
              if echo -n "$SECRET_VALUE" | gcloud secrets versions add {{ include "service.fullname" . }}-postgres-password --data-file=- --project {{ .Values.gcp.projectId }}; then
                echo "Initial password created successfully."
                exit 0
              else
                echo "Failed to create initial password."
                exit 1
              fi
          env:
            - name: PROJECT_ID
              value: {{ .Values.gcp.projectId }}
          resources:
            limits:
              cpu: 500m
              memory: 128Mi
            requests:
              cpu: 100m
              memory: 64Mi
{{- end }}
