{{- if .Values.gcp.database.enabled }}
apiVersion: secretmanager.cnrm.cloud.google.com/v1beta1
kind: SecretManagerSecret
metadata:
  name: {{ include "service.fullname" . }}-postgres-password
  labels:
    {{- include "service.labels" . | nindent 4 }}
  annotations:
    argocd.argoproj.io/sync-wave: "-11"
    cnrm.cloud.google.com/project-id: {{ .Values.gcp.projectId }}
spec:
  replication:
    userManaged:
      replicas:
        - location: europe-west4
---
apiVersion: iam.cnrm.cloud.google.com/v1beta1
kind: IAMPolicyMember
metadata:
  name: {{ include "service.fullname" . }}-secret
  labels:
    {{- include "service.labels" . | nindent 4 }}
  annotations:
    argocd.argoproj.io/sync-wave: "-10"
    cnrm.cloud.google.com/project-id: {{ .Values.gcp.projectId }}
spec:
  memberFrom:
    serviceAccountRef:
      name: {{ include "service.fullname" . }}-sa
  resourceRef:
    kind: SecretManagerSecret
    name: {{ include "service.fullname" . }}-postgres-password
  role: roles/secretmanager.admin
# ---
# apiVersion: rbac.authorization.k8s.io/v1
# kind: Role
# metadata:
#   name: {{ include "service.fullname" . }}-secret-manager
#   labels:
#     {{- include "service.labels" . | nindent 4 }}
#   annotations:
#     argocd.argoproj.io/sync-wave: "-9"
# rules:
# - apiGroups: ["external-secrets.io"]
#   resources: ["externalsecrets"]
#   verbs: ["get","list","delete"]
# ---
# apiVersion: rbac.authorization.k8s.io/v1
# kind: RoleBinding
# metadata:
#   name: {{ include "service.fullname" . }}-secret-manager
#   labels:
#     {{- include "service.labels" . | nindent 4 }}
#   annotations:
#     argocd.argoproj.io/sync-wave: "-9"
# roleRef:
#   apiGroup: rbac.authorization.k8s.io
#   kind: Role
#   name: {{ include "service.fullname" . }}-secret-manager
# subjects:
# - kind: ServiceAccount
#   name: {{ include "service.serviceAccountName" . }}
---
apiVersion: iam.cnrm.cloud.google.com/v1beta1
kind: IAMPolicyMember
metadata:
  name: {{ include "service.fullname" . }}-csql-password-manager
  labels:
    {{- include "service.labels" . | nindent 4 }}
  annotations:
    argocd.argoproj.io/sync-wave: "-10"
    cnrm.cloud.google.com/project-id: {{ .Values.gcp.projectId }}
spec:
  memberFrom:
    serviceAccountRef:
      name: {{ include "service.fullname" . }}-sa
  resourceRef:
    kind: Project
    external: {{ .Values.gcp.projectId }}
  role: projects/{{ .Values.gcp.projectId }}/roles/cloudSqlUserPasswordManager
---
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "service.fullname" . }}-set-gsm-secret
  labels:
    {{- include "service.labels" . | nindent 4 }}
  annotations:
    argocd.argoproj.io/sync-wave: "-8"
spec:
  backoffLimit: 0
  template:
    spec:
      restartPolicy: Never
      serviceAccountName: {{ include "service.fullname" . }}-sa
      containers:
        - name: gcloud-secret
          image: google/cloud-sdk:latest
          command:
            - /bin/sh
            - -c
          args:
            - |
              echo "Updating Secret..."
              MAX_RETRIES=12
              RETRY_DELAY=10
              COUNT=0

              while [ $COUNT -lt $MAX_RETRIES ]; do
                SECRET_VALUE=$(openssl rand -base64 32 | tr -d '\n')

                if echo -n "$SECRET_VALUE" | gcloud secrets versions add {{ include "service.fullname" . }}-postgres-password --data-file=- --project {{ .Values.gcp.projectId }} &&
                  #  kubectl delete externalsecret {{ include "service.fullname" . }}-secret-env -n {{ .Release.Namespace }} --ignore-not-found &&
                   gcloud sql users set-password {{ include "service.fullname" . }} --instance={{ .Values.gcp.database.instanceName }} --password=$SECRET_VALUE; then
                  echo "Updated Secret successfully."
                  exit 0
                else
                  echo "Failed to update secret. Retrying in $RETRY_DELAY seconds... ($((COUNT+1))/$MAX_RETRIES)"
                  COUNT=$((COUNT+1))
                  sleep $RETRY_DELAY
                fi
              done

              echo "Failed to update secret after $MAX_RETRIES attempts. Exiting."
              exit 1
          env:
            - name: PROJECT_ID
              value: {{ .Values.gcp.projectId }}
            - name: APP_NAME
              value: {{ include "service.fullname" . }}
            - name: INSTANCE_NAME
              value: {{ .Values.gcp.database.instanceName }}
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          resources:
            limits:
              cpu: 1000m
              memory: 200Mi
            requests:
              cpu: 25m
              memory: 200Mi
{{- end }}
