{{- if and .Values.ingress.enabled .Values.gcp.monitoring.enabled }}
apiVersion: monitoring.cnrm.cloud.google.com/v1beta1
kind: MonitoringUptimeCheckConfig
metadata:
  name: {{ include "service.fullname" . }}-uptime
  annotations:
    cnrm.cloud.google.com/project-id: {{ .Values.gcp.projectId }}
spec:
  displayName: "{{ include "service.fullname" . }} Uptime Check"
  monitoredResource:
    type: "uptime_url"
    labels:
      host: {{ .Values.ingress.hostname | quote }}
  httpCheck:
    path: "/health"
    requestMethod: "GET"
    useSsl: false
  selectedRegions:
    - EUROPE
  period: "60s"
  timeout: "10s"
  isInternal: false
{{- end }}
